@import './variables';

main.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    .banner{
        flex: 1;
        background:url('../assets/bg-1.png') no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        
        .wrapper{
            color: #fff;
            width: 100%;
            
            @media screen and (min-width: 768px) {
                min-width: 32.3rem;
            }
            &-inner{
                
                h1{
                    font-size: 4rem;
                    font-weight: 700;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}


